/*.suo
/build
/wxbase*_net_vc*.dll
/wxbase*_net_vc*_x64.dll
/wxbase*_vc*.dll
/wxbase*_vc*_x64.dll
/wxbase*_xml_vc*.dll
/wxbase*_xml_vc*_x64.dll
/wxmsw*_adv_vc*.dll
/wxmsw*_adv_vc*_x64.dll
/wxmsw*_aui_vc*.dll
/wxmsw*_aui_vc*_x64.dll
/wxmsw*_core_vc*.dll
/wxmsw*_core_vc*_x64.dll
